<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="LoggingDemo.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Diagnostics.PerformanceCounter" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.1.0" newVersion="4.0.1.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <userSettings>
    <LoggingDemo.Properties.Settings>
      <setting name="DBServer" serializeAs="String">
        <value />
      </setting>
      <setting name="Database" serializeAs="String">
        <value />
      </setting>
      <setting name="UseWindowsAuthentication" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="DBUserName" serializeAs="String">
        <value />
      </setting>
      <setting name="DBPassword" serializeAs="String">
        <value />
      </setting>
      <setting name="SMTPServer" serializeAs="String">
        <value />
      </setting>
      <setting name="SMTPPort" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="SMTPLogonName" serializeAs="String">
        <value />
      </setting>
      <setting name="SMTPLogonPassword" serializeAs="String">
        <value />
      </setting>
      <setting name="ReplyToAddress" serializeAs="String">
        <value />
      </setting>
      <setting name="FromAddress" serializeAs="String">
        <value />
      </setting>
      <setting name="UseSSL" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="SendToAddresses" serializeAs="String">
        <value />
      </setting>
      <setting name="LogFolder" serializeAs="String">
        <value />
      </setting>
      <setting name="LogNamePrefix" serializeAs="String">
        <value />
      </setting>
      <setting name="EntityName" serializeAs="String">
        <value />
      </setting>
      <setting name="AzureResourceID" serializeAs="String">
        <value />
      </setting>
      <setting name="AzureFileShare" serializeAs="String">
        <value />
      </setting>
      <setting name="AzureDirectory" serializeAs="String">
        <value />
      </setting>
    </LoggingDemo.Properties.Settings>
  </userSettings>
</configuration>